<div class="container">
    <div style="text-align:center">
            <h1 class="display-3 title">
                Contacto
            </h1>
    </div>
    <div class="row">
        <div class="column">
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3289.378490878079!2d-58.5125134841781!3d-34.46792145783386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb033198b13f5%3A0xc669bc31d0d7dfb0!2s9+de+Julio+521%2C+San+Isidro%2C+Buenos+Aires!5e0!3m2!1ses!2sar!4v1550017137122" width="500" height="440" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="column">
                <div class="Contact-footer--left-contentWrapper">
                        <div>
                            <h3 class="Heading Heading3">Consultorio</h3>
                            <p class="Accordion-content">
                                <b>Direccion:</b> 9 De Julio, 2do. piso, depto. "B" - San Isidro <br> 
                                <b>Telefono:</b> 4747-2828
                            </p>
                        </div>
                        <div>
                            <h3 class="Heading Heading3">Contacto</h3>
                            <p class="Accordion-content"> 
                                <b>Telefono:</b>  15-6937-7192<br> 
                                <b>Email:</b>  natibonifati@gmail.com
                            </p>
                        </div>
                        
                    </div>
        </div>
    </div>
    

</div>