<div class="container">

        <div style="text-align:center">
            <h1 class="display-3 title">
                Servicios
            </h1>
    </div>
<div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Kinesiologia Pediatrica</h3>
                  <h5 class="card-title"> <b>Trataminetos</b> </h5>
                  <p><b><u>Rehabilitaci&oacute;n respiratoria</u></b></p>
                  <ul>
                    <li>
                        Bronquiolitis 
                    </li>
                    <li>
                        Neumonia
                    </li>
                    <li>
                        Neumonitis
                    </li>
                    <li>
                        Bronquitis
                    </li>
                    <li>
                        Catarro de via aerea superior
                    </li>
                    <li>
                        Seguimineto de pacientes asmaticos y con fibrosis quistica
                    </li>
                    <li>
                        Toma de mustra de esputo
                    </li>
                  </ul>
                  <p><b><u>Rehabilitaci&oacute;n traumatologica</u></b></p>
                  <ul>
                    <li>
                        Pie Bot
                    </li>
                    <li>
                        escoliosis
                    </li>
                    <li>
                        cervicalgia
                    </li>
                    <li>
                        pie plano
                    </li>
                    <li>
                        Fracturas
                    </li>
                    <li>
                        Esguinces
                    </li>
                    <li>
                        Contracturas musculares
                    </li>
                    <li>
                        Desgarros
                    </li>
                  </ul>

                  <p><b><u>Estimulaci&oacute;n Temprana</u></b></p>
                  <ul>
                    <li>
                      S&iacute;ndrome de Down 
                    </li>
                    <li>
                      Prematuros
                    </li>
                    <li>
                      Hipoton&iacute;a
                    </li>
                  </ul>

                  <br><br>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title">Kinesiologia Adultos</h3>
                  <h5 class="card-title"> <b>Trataminetos</b> </h5>
                  <p><b><u>Rehabilitaci&oacute;n respiratoria</u></b></p>
                  <ul>
                    <li>
                        EPOC 
                    </li>
                    <li>
                        Bronquitis 
                    </li>
                    <li>
                        Bronquiectasia 
                    </li>
                    <li>
                        Neumonia
                    </li>
                    <li>
                        Neumonitis
                    </li>
                    <li>
                        Toma de mustra de esputo
                    </li>
                    
                  </ul>
                  <br><br>
                  <p><b><u>Rehabilitaci&oacute;n traumatologica</u></b></p>
                  <ul>
                      <li>
                          Cervicalgia 
                      </li>
                      <li>
                          Lumbalgia 
                      </li>
                      <li>
                          Escoleosis 
                      </li>
                      <li>
                          Fracturas
                      </li>
                      <li>
                          Esguinces
                      </li>
                      <li>
                          Tendinitis
                      </li>
                      <li>
                          Fascitis plantar
                      </li>
                      <li>
                          Paralisis Facial
                      </li>
                      <li>
                          Sindrome del T&uacute;nel carpeano
                      </li>
                    </ul>
                    <p><b><u>Rehabilitaci&oacute;n Vestibular</u></b></p>
                  <ul>
                  <li>
                      V&eacute;rtigo posicional parox&iacute;stico benigno (<small>BPPV</small>)
                  </li>
                  <li>
                      Neuritis vestibular
                  </li>
                  <li>
                      Laberintitis
                  </li>
                  <li>
                      Enfermedad de M&eacute;ni&egrave;re unilateral
                  </li>
                  <li>
                    Vestibulopat&iacute;as 
                  </li>
                  <li>
                    Laberintectom&iacute;a
                  </li>
                  </ul>
                      
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="button" style="vertical-align:middle" onclick="toContact()"><span>Reservar Turno</span></button>
        </div>
          </div>