<div class="container">

    <div style="text-align:center">
        <h1 class="display-3 title">
            Sobre mi
        </h1>
</div>
  <div class="row">
    <div class="col-8">
      <h2>Lic. Natalia Gonzalez Bonifati</h2>
      <p>
        Luego de formarme en USAL obteniendo el titulo de Licenciada en Terapia Fisica, <br>
        realic&eacute; fellowships en diversas instituciones y cursos de posgrado en hospitales <br>
        los cuales me brindaron las herramientas necesarias para la rehabilitacion de <br>
        pacientes pediatricos y adultos. <br><br>
        Actualmente soy kinesiologa de planta del area peditrica en el Sanatorio Trinidad <br>
        de San Isidro con una experiencia de 8 a&ntilde;os en internacion, Terapia Intensiva <br>
        pedi&aacute;trica y neonatal.
      </p>

    </div>
    <div class="col-4">
      <img src="../../../assets/img/Foto_perfiwebl.jpg" alt="Licenciada Natalia Gonzalez Boinifati">
    </div>
  </div>

</div>