<div class="jumbotron-fluid cabecera">
    <div class="container">
      <a href="#">
        <h1 class="display-4 cabecera text-center">
            Consultorio
          </h1>
          <h1 class="display-4 cabecera text-center">Lic. Natalia Gonzalez Bonifati</h1>
        </a>
        <h3 class="display-5">  Terapista Fisica</h3>
        <!-- <p class="lead">Lic. En Terapia Tisica</p> -->
        <hr class="my-2">
        
        <p class="lead">
          <button class="button navbutton" [routerLink]="['about']" ><span>Sobre mi</span></button>  
          <button class="button navbutton" [routerLink]="['service']"><span>Servicios</span></button>  
          <button class="button navbutton" [routerLink]="['contact']"><span>Contacto</span></button>  

        </p>
    </div>
</div>