<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 >Consultorio <br>Lic. Natalia Gonzalez Bonifati</h5>
        <p></p>
        <a href="https://www.instagram.com/nataliagonzalezboni/"><img src="../../../../assets/img/instagram.png" alt="Instagram Natalia Gonzalez" class="logo" style="height: 42%;width: 34%;"/> </a>
        <a href="https://www.instagram.com/nataliagonzalezboni/"><img src="../../../../assets/img/facebookPng.png" alt="Instagram Natalia Gonzalez" class="logo"/> </a>
        <a href="https://www.instagram.com/nataliagonzalezboni/"><img src="../../../../assets/img/linkedIn.png" alt="Instagram Natalia Gonzalez" class="logo"  style="height: 45%;"/> </a>

      <br>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
                <a [routerLink]="['home']">Home</a>
            </li>
            <li>
              <a [routerLink]="['about']">Sobre mi</a>
            </li>
            <li>
              <a [routerLink]="['service']">Servicio</a>
            </li>
            <li>
              <a [routerLink]="['blog']">Blog</a>
            </li>
            <li>
              <a [routerLink]="['contact']">Contacto</a>
            </li>
          </ul>

        </div>

        
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#"> Ramiro Videla</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
